
.categoryItem__container {
        //border: 5px solid black;
        height: 100%;
        width: 100%;
        border-width: 8px 4px 4px 4px;
        border-color: white;
        border-style: solid;
        position: relative;
        cursor: pointer;



        &-shader {

                opacity: 0%;
                height: 100%;
                transition: 0.4s;


        }
        &:hover &-shader {
                opacity: 20%;
        }

        &__title {
                border-bottom: 3px solid;
                color: white;
                margin-bottom: 30px;
                margin-left: 30px;
                font-size: 2.5em;
                padding-bottom: 10px;
                position: absolute;
                bottom: 0;
                left: 0;
        }


}

