.sizes {
  position: relative;
  margin: 10px 0;
  background: #ffffff;
  box-shadow:  9px 9px 18px #e3e3e3,
  -9px -9px 18px #ffffff;
  width: fit-content;
  border: 1px solid #f6f6f6;

  button {
    padding: 6px 12px;
    border: none;
    border-right: 1px solid #eaeaea;
    outline: none;
    transition: all .1s ease;
  }

  button:not(:disabled) {
    cursor: pointer;
    background: #cacaca;
    &:hover {
      transform: scale(1.2);
      background: #b1b1b1;
      box-shadow:  9px 9px 18px #e3e3e3,
      -9px -9px 18px #ffffff;
      width: fit-content;
      color: #323232;
      border: none;
    }
  }

  button:last-child {
    border-right: none;
  }

  &__selected {
    background: #212121 !important;
    box-shadow: inset 5px 5px 5px #0d0d0d,
    inset -5px -5px 5px #353535;
    color: #ffffff;
  }

  &__error {
    color: crimson;
    font-size: .8em;
    position: absolute;
    bottom: -20px;
  }
}
