.product-list {
  &__title {
    font-size: 36px;
    margin-top: 50px;
    text-align: center;
  }

  &__container {
    min-height: calc(100vh - 60px);
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.subcategories-filter__container {
  display: flex;
  justify-content: center;
  // padding-bottom: 40px;
  // // border-bottom: 2px solid rgb(235, 235, 235);
  margin-bottom: 20px;
  margin-top: 40px;
}

.product-cards__container {
  display: flex;
  justify-content: center;
}

.product-cards__list {
  width: 1280px;

  .ui.black.button {
    padding: 0;
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 10px;
    }
  }
  .spinner {
    z-index: 1 !important;
  }

  .pagination {
    margin: 50px 0 0 0!important;
    width: 100%;
    justify-content: center;
  }
}

.product-list__dropdown-section {
  &__flex {
    display: flex;
    justify-content: flex-end;
  }
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 3px 3px 5px #e0e0e0, -3px -3px 5px #ffffff;
  border: 1px solid rgb(252, 252, 252);
}

.product-list__dropdown-section > div {
  min-width: 8em !important;
}
