.number-input {
  display: flex;

  &__input {
    width: 50px;
    border: none;
    padding-left: 5px;
  }

  &__input::-webkit-outer-spin-button,  &__input::-webkit-inner-spin-button  {
    -webkit-appearance: none;
    margin: 0;
  }

  &__input[type=number] {
    -moz-appearance: textfield;
  }

  &__button {
    padding: 5px !important;
    i {
      margin: 0 !important;
    }

  }
}

