.cart {
  display: flex;
  max-width: 1400px;
  margin: 50px auto;

  @media screen and (max-width: 992px){
    flex-direction: column;
  }

  > * {
    flex: 50%;
    margin: 0 30px;
  }

  &__table {
    background: #ffffff;
    box-shadow: 13px 13px 26px #e3e3e3,
    -13px -13px 26px #ffffff;
    height: fit-content;
    padding: 20px;

    &__title {
      margin: 30px 0;
      border-bottom: 1px solid silver;
    }

    &__items {
      display: flex;
      flex-direction: column;
    }

    &__total {
      font-size: 1.6em;
      font-weight: 600;
      text-align: right;
      margin: 20px 0;
    }
  }

  &__checkout {
    &__title {
      margin: 30px 0;
      border-bottom: 1px solid silver;
    }
  }
}
