.thanks-page {
  height: calc(100vh - (60px + 89px));
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    font-family: 'MarcellusSC', sans-serif;
    font-size: 10rem;
    color: #000000;
  }
}

@media screen and (max-width: 552px) {
  .thanks-page {
    .title {
      font-size: 5rem;
    }

    h2 {
      font-size: 1.1rem;
    }

    .basic-button {
      width: 180px;
      font-size: 1.3rem;
    }
  }
}
