.thanks-page {
  height: calc(100vh - (60px + 89px));
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .page-logo {
    width: 500px;
  }
}

@media screen and (max-width: 552px) {
  .thanks-page {
    .title {
      font-size: 5rem;
    }

    .page-logo {
      width: 250px;
    }

    .basic-button {
      width: 120px;
      font-size: 1rem;
    }
  }
}
