.loading-page {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: all .5s ease;
  opacity: 1;

  &.disabled {
    display: none;
  }

  &.opacity {
    opacity: 0;
    z-index: -1;
  }

  h2 {
    font-family: "MarcellusSC", sans-serif;
    font-size: 10em;
    color: #000000;

    @media screen and (max-width: 500px){
      font-size: 5em;
    }
  }
}
