.search-list {
  position: absolute;
  top: 60px;
  z-index: 2;
  background: rgba(234, 234, 234, 0.9);;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  color: black;

  &.visible {
    display: block;
  }

  > li:not(:last-child) {
    border-bottom: 1px solid #7a7a7a;
  }

  > li {
    &:hover {
      background: darken(rgba(234, 234, 234, 0.9), 10%);
    }

    a {
      width: 100%;
      height: 100%;
      padding: 15px;
      display: block;
    }
  }
}

.search-item {
  display: flex;
  align-items: center;

  h4 {
    margin: 0 5px;
    flex: 1;
  }

  .price {
    color: crimson;

  }

  span {
    color: #9b9b9b;
    font-size: .8em;
    margin: 0 0 0 5px;
  }
}

.empty-list {
  margin: 20px;
  font-size: 1.1em;
}

.search-bar {
  display: inline-block;
  position: relative;
  top: initial;
  @media screen and (max-width: 772px) {
    display: none !important;
    position: absolute !important;
    z-index: 101;
  }
}

.search-bar.visible-bar {
  display: inline-block !important;

  @media screen and (max-width: 772px) {
    top: 60px;
    right: 0;
  }
}

.not-wide-search-icon {
  display: none !important;
  cursor: pointer;

  &:hover {

  }
  @media screen and (max-width: 772px) {
    display: inline-block !important;
  }
}
