.footer-container {
  padding: 30px 30px 20px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 450px) {
    padding: 5px;
  }
}

.footer-container_dark {
  background: #1b1c1d;
  box-shadow: 0px -8px 26px #737373, 0px 15px 20px 0px #848484;
  border-top: 1px solid #161718;

  .footer-list {
    &__item {
      a {
        color: #ececec !important;
      }

      &-social {
        color: #ececec !important;
      }
    }
  }

  .footer-company {
    color: rgb(107, 107, 109);
  }
}

.footer-container_light {
  background: #ececec;
  box-shadow: 0 8px 26px #d4d4d4, 0px -17px 26px #909090;
  border-bottom: 1px solid darken(#ececec, 2%);

  .footer-list {
    &__item {
      a {
        color: #1b1c1d !important;
      }

      &-social {
        color: #1b1c1d !important;
      }
    }
  }

  .footer-company {
    color: #646464;
  }
}

.footer-list {
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;

  @media screen and (max-width: 450px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    &__item {
      margin: 5px 0;
      font-size: 0.8em;
    }
  }

  &__item {
    flex-basis: 20%;
    text-align: center;

    &-content {
      display: block;
      font-size: 1.2em;
      font-weight: 400;
      transition: all 0.4s;
      cursor: pointer;

      @media screen and (max-width: 450px) {
        font-size: 1em;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    &-social {
      display: flex;
      justify-content: center;
    }
  }

  &__item:nth-child(3) {
    @media screen and (max-width: 450px) {
      grid-area: 1/1/2/5;

      * {
        font-size: 1em;
      }
    }
  }
}

.footer-company {
  width: 100%;
  margin: 10px 0 0 0;
  text-align: center;
  font-size: 0.8em;

  img {
    width: 10px;
    margin: 0;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.45em;
    margin-top: 3px;
  }
}

.telegram {
  display: block !important;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.2s;
}

.viber {
  display: block !important;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.2s;
}

.instagram {
  display: block !important;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.2s;
}

.telegram:hover {
  color: #0088cc !important;
}

.viber:hover {
  color: #815df5 !important;
}

.instagram:hover {
  color: #d5005d !important;
}
