.wishlist {
  position: relative;
  display: flex;
  &__header {
    color: white;
    position: relative;

    .label {
      background: crimson !important;
      color: white !important;
      position: absolute;
      right: 10px;
      bottom: 12px;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 10;
    border: 1px solid #fafafa;
    border-radius: 5px;
    padding: 0 10px 10px;
    width: 400px;
    background: #ffffff;
    box-shadow: 13px 13px 26px #e3e3e3,
    -13px -13px 26px #ffffff;

    > .item {
      padding: 0 10px 10px 0;
      border-bottom: 1px solid rgba(34, 36, 38, .1) !important;
      position: relative;
      min-width: 150px;
      min-height: 80px !important;

      .content {
        margin-left: 10px !important;
        .header {
          color: black !important;
          background: inherit;
          height: fit-content;
          padding: 0;
          &:hover {
            color: #0088cc !important;
          }
        }

        i.trash {
          position: absolute;
          right: 5px;
          bottom: 5px;
          cursor: pointer;
          transition: all .1s ease-in-out;
          opacity: .3;

          &:hover {
            opacity: .8;
            color: #db2828;
          }
        }
      }
    }

    .remove.circle.icon {
      position: absolute;
      right: -12px;
      top: -10px;
      z-index: 20;
      cursor: pointer;
      font-size: 16px;
    }
  }
}
