@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./fonts/Montserrat_Alternates/MontserratAlternates-Regular.woff') format('woff'),
    url('./fonts/Montserrat_Alternates/MontserratAlternates-Black.woff') format('woff'),
    url('./fonts/Montserrat_Alternates/MontserratAlternates-Light.woff') format('woff'),
    url('./fonts/Montserrat_Alternates/MontserratAlternates-Bold.woff') format('woff'),
    url('./fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Great Vibes';
    src: url('./fonts/Great_Vibes/GreatVibes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat Alternates', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: 400;
    font-style: normal;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color: #000000 !important;
}

.basic-button {
    display: block;
    width: 300px;
    margin: 30px auto;
    padding: 10px;
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
    background: #272727;
    box-shadow: 1px 2px 5px #737373, -5px -5px 31px #cecece;
    transition: all .2s ease;
    outline: none;
}

.basic-button:hover:not(:disabled) {
    background: #151515;
    transform: scale(1.05);
}

.basic-button:active {
    background: black;
}

.basic-button:disabled {
    background: #989898;
}
