.not-found {
  min-height: calc(100vh - 168px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 300px;

    @media screen and (max-width: 450px) {
      width: 150px;
    }
  }

  .basic-button {
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (max-width: 450px) {
      font-size: 0.6em;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media screen and (max-width: 450px) {
    min-height: calc(100vh - 190px);
  }
}
