.main-header {
  $self: &;
  display: flex;
  height: 60px;
  align-items: center;
  padding: 0 20px;
  background: #ffffff;
  box-shadow: 13px 13px 26px #e3e3e3, -13px -13px 26px #ffffff;
  border-bottom: 1px solid rgb(247, 247, 247);

  &__logo {
    font-size: 3rem;
    color: #000000;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }

  &__categories-list {
    display: flex;
    list-style: none;
    margin: 0;
    height: 100%;
    align-items: center;

    > li {
      font-size: 1.3rem;
      margin: 0 10px;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;

      > a {
        padding: 20px;
        width: 100%;
        height: 100%;
      }

      &:hover {
        border-radius: 0px;
        background: #ffffff;
        box-shadow: 11px 11px 22px #e3e3e3, -11px -11px 22px #ffffff;

        #{$self}__subcategories-list {
          display: block;
        }
      }
    }
  }

  &__subcategories-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background: rgba(234, 234, 234, 0.9);
    z-index: 2;
    position: absolute;
    top: 58px;
    left: 0;
    min-width: 100%;

    a {
      width: 100%;
      height: 100%;
      padding: 15px;
      display: block;
    }

    > li {
      font-size: 1.1rem;

      &:hover {
        background: darken(rgba(234, 234, 234, 0.9), 10%);
      }
    }
  }

  &__right-bar {
    margin-left: auto;
    display: flex;
    align-items: center;

    .ui.icon.input {
      input {
        border-radius: 5px;
        background: #ffffff;
        box-shadow: inset -11px -11px 22px #f4f4f4, inset 11px 11px 22px #f4f4f4;
        border: none;
        color: #696969;
      }
    }

    i.header-icons {
      font-size: 1.6rem !important;
      margin: 0 20px !important;
      cursor: pointer;
      color: rgb(179, 179, 179);
      transition: all 0.1s ease;

      &:hover {
        color: darken(rgb(179, 179, 179), 30%);
        transform: scale(1.1);
      }
    }

    > a {
      position: relative;

      .cart-label {
        background: #ffb231 !important;
        color: white;
        position: absolute;
        right: 5px;
        bottom: 12px;
      }
    }

    .ui.circular.label {
      min-width: 1.7em;
      padding: 0.5em !important;
      font-size: 0.7em;
    }
  }
}
