.main-header {
  $self: &;
  display: grid;
  grid-template-columns: 150px 100px 1fr;
  height: 60px;
  align-items: center;
  padding: 0 20px;

  &__logo {
    a {
      display: flex;
      align-items: center;

      img {
        height: 30px;
      }

      h1 {
        font-size: 1.5rem;
        color: #000000;
        font-family: 'MarcellusSC', sans-serif;
        font-weight: 400;
        font-style: normal;
        margin: 0;
      }
    }
  }

  &__catalog {
    margin-left: 30px;

    > a {
      width: 100%;
      height: 100%;
      display: block;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }

      h3 {
        font-size: 1.3rem;
      }
    }
  }

  &__right-bar {
    margin-left: auto;
    display: flex;
    align-items: center;

    .ui.icon.input {
      input {
        border-radius: 5px;
        background: #ffffff;
        box-shadow: inset -11px -11px 22px #f4f4f4, inset 11px 11px 22px #f4f4f4;
        border: none;
        color: #696969;
      }
    }

    i.header-icons {
      font-size: 1.6rem !important;
      margin: 0 10px !important;
      cursor: pointer;
      transition: all 0.1s ease;
      color: #545454;

      &:hover {
        color: darken(#545454, 20%);
        transform: scale(1.1);
      }

      @media screen and (max-width: 550px) {
        margin: 2px 0 !important;
        font-size: 1.1rem !important;
      }
    }

    > a {
      position: relative;

      .cart-label {
        background: #ffb231 !important;
        color: white;
        position: absolute;
        right: 5px;
        bottom: 12px;
      }
    }

    .ui.circular.label {
      min-width: 1.7em;
      padding: 0.5em !important;
      font-size: 0.6em;

      @media screen and (max-width: 550px) {
        font-size: 0.45rem !important;
        right: -3px;
        z-index: 10;
      }
    }

    .theme-toggle {
      box-sizing: border-box;
      display: inline-flex;
      font-size: 7px;
      width: 7em;
      position: relative;

      @media screen and (max-width: 450px) {
        font-size: 6px;
      }

      i {
        position: absolute;
        z-index: 2;
        top: 2px;
        font-size: 1.9em;

        @media screen and (max-width: 450px) {
          font-size: 1.6em;
          top: 2px;
        }
      }

      i.sun {
        left: 1px;
      }

      i.moon {
        right: 0;
      }

      input,
      input:active {
        border: 0;
        height: 0;
        opacity: 0;
        outline: none;
        position: absolute;
        left: -5000px;
        width: 0;
      }

      label {
        background: #f8f8f8;
        border: 0.2em solid #ddd;
        border-radius: 1.6em;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 3.2em;
        padding: 1em;
        position: relative;
        transition: 0.3s ease-out;
        width: 100%;
        margin-bottom: 0;

        &:before {
          background: #ffffff;
          border-radius: 1.4em;
          box-shadow: 0 0.3em 0.3em rgba(0, 0, 0, 0.2), 0 0 0 0.1em #ddd;
          content: '';
          display: block;
          height: 2.8em;
          left: 0;
          position: absolute;
          right: auto;
          text-indent: 4em;
          top: 0;
          transition: 0.25s ease-in-out;
          width: 2.8em;
          z-index: 3;
        }

        &:after {
          background: #cdcdcd;
          border-radius: 1.4em;
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          transition: 0.25s ease-in-out;
          width: 2.8em;
          z-index: 1;
        }
      }

      input:active + label::before {
        width: 3.2em;
      }

      input:checked + label {
        border-color: #515758;
        box-shadow: inset 0 0 0 2em #515758;
      }

      input:checked + label::after {
        background-color: #515758;
        right: 1.4em;
        width: 100%;
      }

      input:checked + label::before {
        box-shadow: 0 0 0 0.1em transparent, 0 0.3em 0.3em rgba(0, 0, 0, 0.3);
        left: calc(100% - 2.8em);
      }

      input:checked:active + label::before {
        left: calc(100% - 3.2em);
      }
    }
  }
}

.main-header_light {
  background: #ececec;
  box-shadow: 0 8px 26px #d4d4d4, 0px -17px 26px #909090;
  border-bottom: 1px solid darken(#ececec, 2%);

  i.header-icons {
    color: #1b1c1d;

    &:hover {
      color: darken(#1b1c1d, 20%);
    }
  }

  .theme-toggle {
    i.moon {
      color: #1b1c1d !important;
    }
    i.sun {
      color: #ececec !important;
    }
  }

  .ui.icon.input {
    input {
      border-radius: 12px;
      background: #f0f0f0;
      box-shadow: inset -33px 33px 66px #d6d6d6, inset 33px -33px 66px #ffffff;
      border: none;
      color: #696969;
    }

    i {
      color: #1b1c1d;
    }
  }

  p,
  a,
  h1,
  h2,
  h3 {
    color: #1b1c1d !important;
  }
}

.main-header_dark {
  background: #1b1c1d;
  box-shadow: 0 8px 26px #5a5a5a, 0px -17px 26px #737373;
  border-bottom: 1px solid darken(#1b1c1d, 2%);

  i.header-icons {
    color: #ececec;

    &:hover {
      color: darken(#ececec, 20%);
    }
  }

  .theme-toggle {
    i.sun {
      color: #ececec !important;
    }
    i.moon {
      color: #1b1c1d !important;
    }
  }

  .ui.icon.input {
    input {
      border-radius: 12px;
      background: #282a2b;
      box-shadow: inset -33px 33px 66px #242526, inset 33px -33px 66px #2c2f30;
      border: none;
      color: #696969;
    }

    i {
      color: #ececec;
    }
  }

  p,
  a,
  h1,
  h2,
  h3 {
    color: #ececec !important;
  }
}

@media screen and (max-width: 450px) {
  .main-header {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 3px;

    &__logo {
      grid-area: 1/2/2/3;

      a {
        flex-direction: column;
      }

      h1 {
        font-size: 1rem !important;
      }

      img {
        height: 15px !important;
      }
    }

    &__catalog {
      margin-left: 5px;

      a {
        h3 {
          font-size: 0.9rem;
        }
      }
    }

    &__right-bar {
      > * {
        margin: 0 2px;
      }
    }
  }
}
